{% extends "base.html" %}

{% block content %}

<h2 class="card-title">Settings</h2>

<form action="/me/change/update" method="POST">

    <div class="form-group">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{ data.name }}">

    </div>

    <div class="form-group">

        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" class="form-control" maxlength="200">{% if data.bio %}{{ data.bio }}{% endif %}</textarea>

    </div>

    <div class="form-group">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">

    </div>

    <button type="submit" class="btn btn-outline-secondary">Change</button>

</form>

{% endblock %}
