{% extends "base.html" %}

{% block content %}

<h2 class="card-title">Login</h2>

<form action="auth_login" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" id="username" name="username" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-outline-secondary">Login</button>
</form>

{% endblock %}